<configuration>
  <system.webServer>  
    <rewrite>  
        <rules>  
          <rule name="Redirect rquests to default azure websites domain" stopProcessing="true">
            <match url="(.*)" />  
            <conditions logicalGrouping="MatchAny">
              <add input="{HTTP_HOST}" pattern="^muratolgunnet\.azurewebsites\.net$" />
              <add input="{HTTP_HOST}" pattern="^olguns\.net$" />
              <add input="{HTTP_HOST}" pattern="^www\.olguns\.net$" />
              <add input="{HTTP_HOST}" pattern="^www\.muratolgun\.net$" />
            </conditions>
            <action type="Redirect" url="http://muratolgun.net/{R:0}" />  
          </rule>  
        </rules>  
    </rewrite>  
  </system.webServer>  
</configuration>  
